
<% if user_signed_in? %>

	<% @tasks.each do |task| %> 

<!--Panel-->
<!-- <div class="card">
    <h3 class="card-header primary-color white-text">  
    	<p><strong>Priority (1 - High, 2- Medium, 3 - Low): </strong><%= task.priority %>
	    </p>
	</h3>

    <div class="card-body">
        <h4 class="card-title"><%= link_to task.title, task %></h4>
        <p class="card-text">
	        <strong>Task Description: </strong> 
	        	<%= task.description%> 
	        	<br> 
	        <strong>Created Date and Time: </strong> 
	        	<%= task.created_at.strftime("%d %b %Y %A, %I:%S %p") %> 
	        	<br>
	        <strong>Due Date: </strong><%= task.duedate %>

        </p>
        <a class="btn btn-primary"><%= link_to task.title, task %></a>
    </div>
</div> -->
<!--/.Panel-->



	<div class="panel panel-default">
	  <div class="panel-heading">

	    <h2 class="panel-title">
	    	<%= link_to task.title, task %>
	    </h2>
	  </div>

	  <div class="panel-body">
	     <p><strong>Task Description: </strong> <%= task.description%>
	     </p>
	  </div>

	  <div class="panel-body">
	     <p><strong>Created Date and Time: </strong> <%= task.created_at.strftime("%d %b %Y %A, %I:%S %p") %> 
	     </p>
	  </div>

	  <div class="panel-body">
	    <p><strong>Due Date: </strong><%= task.duedate %>
		</p>
	  </div>

	  <div class="panel-body">
	    <p><strong>Priority (1 - High, 2- Medium, 3 - Low): </strong><%= task.priority %>
	    </p>
	  </div>

	</div>


	<% end %>

<% else %>

	<%= render 'welcome_page' %>

<% end %> 







