
<% if user_signed_in? %>
<!-- checks to see if a user is signed in, otherwise, it will render a landing page asking the user to login or sign up --> 

<div class="col-md-10 col-md-offset-1">
	<% @tasks.each do |task| %> 
		<div class="index-wrapper">
			
			<% if task.completed? %> 
<!-- START FOR COMPLETED ITEMS --> 
			
			<div class="row task">
				<!-- FOR TICK ICON --> 
				<div class="col-md-2">
					<p><%=link_to complete_task_path(task), method: :patch do %></p> 
						<i class="fa fa-check fa-lg" aria-hidden="true"></i>
						<% end %>
				</div>

				<!-- FOR TRASH ICON --> 
				<div class="col-md-2">
					<p><%= link_to task, method: :delete, data: { confirm: "Are you sure?" } do %> </p>
						<i class="fa fa-trash fa-lg"></i>
						<% end %>
				</div>

				<!-- FOR TASK --> 
				<div class="col-md-8">
					<h2 style="opacity: 0.5;" class="task-title"><strike><%= link_to task.title, task %> </strike></h2>
					<p style="opacity: 0.5;" class="task-sub-title task-desc">Description: <%= task.description %></p>
					<p style="opacity: 0.5;" class="task-sub-title task-desc">Due-date: <%= task.duedate.strftime("%d %b %Y %A") %></p>

					<p style="opacity: 0.5;" class="task-sub-title task-desc"> 
							<% if task.priority == 1  %>
								<p>Priority: High</p>
							<% elsif  task.priority  == 2 %>
								<p>Priority: Medium</p>
							<% else %>
								<p>Priority: Low</p>
							<% end %> 
						</p>
					<p style="opacity: 0.5:" class="time-created-at task-sub-title">Completed <%= time_ago_in_words(task.completed_at) %> ago</p>




				</div>
			</div>
<!-- END FOR COMPLETED ITEMS --> 
			<% else %> 
<!-- START of NOT COMPLETED ITEMS --> 	
				<div class="row task">
					<div class="col-md-2">
						<p><%= link_to complete_task_path(task), method: :patch do %></p>
							<i class="fa fa-check fa-lg"></i>
							<% end %>
					</div>

					<div class="col-md-8">
						<h2 class="task-title"><%= link_to task.title, task%></h2>
						<p class="task-sub-title task-desc">Description: <%= task.description %></p>
						<p class="task-sub-title task-desc">Due-date: <%= task.duedate.strftime("%d %b %Y %A") %></p>
						<p class="task-sub-title task-desc"> 
							<% if task.priority == 1  %>
								<p>Priority: High</p>
							<% elsif  task.priority  == 2 %>
								<p>Priority: Medium</p>
							<% else %>
								<p>Priority: Low</p>
							<% end %> 
						</p>

						<p style="opacity: 0.5;" class="time-created-at task-sub-title">Created <%= time_ago_in_words(task.created_at) %> ago</p>
					</div>

					<div class="col-md-2">
						<p><%= link_to task, method: :delete, data: {confirm: "Are you sure?"} do %></p>
							<i class="fa fa-trash fa-lg"></i>
							<% end %>
					</div>

				</div>

<!-- END of NOT COMPLETED ITEMS --> 		
			<% end %> <!-- END THE IF-ELSE --> 
		</div>


	<% end %> <!-- END THE EACH-DO --> 
</div>
	



<% else %>

	<%= render 'welcome_page' %>

<% end %> 




