<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/f18f65954f.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  
    <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Dosis|Encode+Sans+Condensed|Lato|Libre+Barcode+39+Text|Lobster|Roboto|Zilla+Slab+Highlight" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	  <nav class="navbar navbar-inverse bg-inverse">
	  	<div class="container">
	  		<div class="navbar-header">
	  			<%= link_to "TASK LIST", root_path, class: "navbar-brand" %>
	  		</div>
	  		<ul class="nav navbar-nav navbar-right">
	  			<% if current_user.present? %>
	  				<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
	  			<%	else %> 
	  				<li><%= link_to "Log In", new_user_session_path %></li>
	  				<li><%= link_to "Sign Up", new_user_registration_path %></li>
	  			<% end %>
	  		</ul>
	  		<% if user_signed_in? %>
	  			<%= link_to "Create Task", new_task_path, class: "navbar-text navbar-link" %>
	  		<% end %>
	  	</div>
	  </nav>

<div class="container">

		<% if flash[:notice] %>
		  <div class="alert alert-success">
		    <%= flash[:notice] %>
		  </div>
		<% end %>

		<% if flash[:error] %>
		  <div class="alert alert-danger">
		    <%= flash[:error] %>
		  </div>
		<% end %>

<!-- for a generic color display for alert, use the below --> 
	<!-- <div>
      <% flash.each do |key, value| %>
        <% if key == [:notice] %>
        <div class="alert alert-success" role="alert"> <%= value %> </div>
        <% else %>
        <div class="alert alert-danger" role="alert"> <%= value %> </div>
      <% end %>
      <% end %>
    </div> -->


<% Category.all.each do |category| %>
	<%= link_to category.name, tasks_path(category: category.name) %> 
<% end %>




	<%= yield %>
</div>
    
  </body>
</html>

















